@charset "utf-8";


/*全体のデザイン*/

* {
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    background-color: #202124;
    color: #f9f9f9;
}

a {
    text-decoration: none;
    color: white;
}


/* ヘッダー */

header {
    display: flex;
    justify-content: space-between;
    vertical-align: baseline;
    width: 100%;
}

.icon {
    margin: 0 auto;
}

.icon img {
    width: 24px;
    padding: 16px;
    cursor: pointer;
    fill: #f9f9f9;
}

h1 {
    font-size: 20px;
    padding: 16px;
}


/*list*/

.counter {
    display: flex;
    width: 100%;

}

.counter p {
    font-size: 16px;
    padding: 8px;
    margin: 0 auto;
    overflow: hidden;
}


/*index.html*/

.container {
    width: fit-content;
    display: block;
    margin: 16px auto;

}

h3 {
    font-size: 16px;
}


/* メモの見出し */

.box {
    display: flex;
    width: fit-content;
    padding: 10px;
    margin-top: 32px;
    transform: scale(0.8);
    transition: all 0.1s ease-in;
    border: solid, 4px, white;
    border-radius: 32px;
}

.box:hover {
    cursor: pointer;
}

.box:active {
    box-shadow: unset;
    animation: all 0.1s ease-out;
}

.box-left {
    margin: auto 16px;

}

.box-left img {
    width: 100px;
    height: 144px;

}

.box-right {
    width: 100%;
}

#memoLink {
    display: inline-flex;

}


/* ステータス */
/*進行度*/

.progression {
    display: flex;
    padding: 8px;
}

.progression h3 {
    margin: 16px auto;
}

.progress {
    text-align: center;
}

progress::-webkit-progress-bar {
    border-radius: 15px;

}

progress::-webkit-progress-value {
    border-radius: 15px;
    background-color: #66fc7c;
}


/* 面白さ */

.fun {
    display: flex;
    padding: 8px;
}

.fun h3 {
    margin: 16px auto;
}

.stars {
    display: flex;
    margin: 8px auto;
    vertical-align: baseline;
    font-size: 32px;
}


/* 読了ステータス */

.finish {
    display: flex;
    padding: 8px;

}


/* 生成ボタン */

button {
    all: unset;
}


/* memo.html */

#title {
    margin: 0 auto;
}

.hero {
    text-align: center;

}

.hero #thumbnail {
    margin: 16px;
    width: 50%;
    height: 40%;
}


/* 著者、面白さ、読了日 */

.status {
    text-align: left;
    margin: 32px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    line-height: 32px;
    border: 1px solid #fff;

}


/* チャプター */

.chapter {
    display: flex;
    width: fit-content;
    padding: 10px;
    margin-top: 32px;
    transform: scale(0.8);
    transition: all 0.1s ease-in;
    border: solid, 4px, white;
    border-radius: 32px;

}

.chapterThumbnail {
    transform: scale(0.8);
}

.chapter a {
    display: block;
}

.chapter p {
    font-size: 24px;
    width: fit-content;
    margin: 16px auto;
}


.chapter img {
    display: block;
    width: 60%;
    height: 60%;
    margin: 16px auto;
}

.chapter:active {
    animation: all 0.1s ease-out;
}


/* chapter.html */

#review {
    transform: scale(0.9);
}

#review li {
    letter-spacing: 0.05em;
    margin: 16px;
}

#review h3 {
    padding-left: 16px;
    font-size: 24px;
}

#review h2 {
    margin-left: 16px;
}

#createInterestingListButton,
#createListButton,
#createListButton02,
#createListButton03,
#createChapterButton,
#createBoxButton {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    margin: auto;
    padding: 1rem 4rem;
    font-weight: bold;
    border: 2px solid #27acd9;
    color: #27acd9;
    border-radius: 100vh;
    transition: 0.5s;
    cursor: pointer;
}

#createInterestingListButton:active,
#createListButton:active,
#createListButton02:active,
#createListButton03:active,
#createChapterButton:active,
#createBoxButton:active {
    color: #fff;
    background: #27acd9;
}


.list {
    margin: 32px;
}

@media screen and (min-width: 768px) {
    .container {
        display: flex;
        width: 100%;
        overflow: hidden;
        flex-wrap: wrap;
    }

    .box {
        width: 50%;
    }
}

@media(min-width: 1200px) {


    /* index.html */

    .container {
        display: flex;
        width: 100%;
        overflow: hidden;
        flex-wrap: wrap;
    }

    .box {
        width: 30%;
    }

    .box h3 {
        margin: 0;
    }

    .box a {
        width: 100%;
    }

    .progress {
        display: block;
        margin: 8px auto;
    }


    /* memo.html */

    .hero #thumbnail {
        width: 20%;
    }

    .chapter {
        width: 30%;
        transform: scale(0.6);
    }

    .status {
        padding: 64px;
        font-size: 32px;
        line-height: 32px;
    }

    #chapterLink {
        width: 100%;
    }

    #memoContainer {
        margin: 0;
    }


    /* chapter.html */

    .interesting {
        margin: 32px;
    }

    #review {
        display: block;

    }

    #review li {
        font-size: 24px;

    }

    #review h3 {
        font-size: 32px;
    }
}